.card-bg-image {
    background-image: url("/public/resources/images/card-bg.png");
    height: 713px;
}

.card-page-title {
    color: #fff;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.vaccine-card-front {
    background-image: url("/public/resources/images/vaccine-card-front.png");
    width: 375px;
    height: 620px;
}

.vaccine-card-back {
    background-image: url("/public/resources/images/vaccine-card-back.png");
    width: 375px;
    height: 620px;
}

