* {
    width: 395px;
    margin: auto;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-sp-evenly {
    justify-content: space-evenly;
}

.black {
    color: black;
}

@media screen and (max-width:960px) {
    * {
        width: 100%;
        margin: auto;
    }
}